.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  width: 50%; /* Adjust as needed */
}

.image-container img {
  width: 100%;
}

.text-container {
  width: 40%; /* Adjust as needed */
}


.slider-animated-2-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideFromLeft 1s ease-out forwards;
}

.slider-animated-2-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideFromRight 1s ease-out forwards;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-weight: bold;
  color: white;
  text-align: center;
}

.custom-alert.success {
  background-color: lightblue;
}

.custom-alert.error {
  background-color: red;
}

.audio-gallery audio {
  width: 80%;
  padding-top: 35px;
  padding-bottom: 40px;
}

.image-container {
  display: flex; /* Ensures images are displayed in a row */
}
.placeholder-bold {
  color: 	#000000;
  font-weight: bold;

}

.header-2 .top-header .top-right {
  padding: 15px 0;
}
.header-2 .top-header .top-right a {
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 28px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  margin-right: 6px;
}
.header-2 .top-header .top-right a:last-child {
  margin-right: 0;
}
.header-2 .top-header .top-right a:hover {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.3);
}
.header-2 .top-header .top-right {
  padding-top: 5px;
}
.header-2 .top-header .top-right {
  padding-top: 5px;
}
